@using LMS.Models.DevelopmentTools
@model LMS.Models.DevelopmentTools.UserAccountModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "resetPassword" }))
{
    @Html.AntiForgeryToken()
    <div style="background-color:white;">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reset Password</h5>
                    @Html.TextBoxFor(model => model.userAccount.ID, new { @class = "form-control", @style = "visibility:hidden;position:absolute", @value = @Model.userAccount.ID })                    
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">     
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label for="" class="control-label">User Code</label>
                                @Html.TextBoxFor(model => model.userAccount.Code, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="control-label">User Full Name</label>
                                @Html.TextBoxFor(model => model.userAccount.FullName, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>                                           
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label for="" class="control-label">Password</label>
                                @Html.TextBoxFor(model => model.userAccount.Password, new { @type = "password", @class = "form-control" })
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="control-label">Confirm Password</label>
                                @Html.TextBoxFor(model => model.userAccount.ConfirmPassword, new { @type = "password", @class = "form-control" })
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="alertModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="background-color:#ffffff;width:60%">
            <div class="modal-header" style="background-color:white">
                <h3>Validation Summary</h3>
            </div>
            <div class="modal-body" style="background-color:white">
                <div style="color:red;font-size:small;">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" onclick="closeAlert()">&nbsp;OK&nbsp;</a>
            </div>
        </div>
    </div>
    <div id="alertMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="background-color:#ffffff;width:60%">
            <div class="modal-header" style="background-color:white">
                <h3>Validation Summary</h3>
            </div>
            <div class="modal-body" style="background-color:white">
                <div style="color:red;font-size:small;">
                    <div id="alertMessage"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info" onclick="closeAlert()">&nbsp;OK&nbsp;</a>
            </div>
        </div>
    </div>
}


