
@{
    if(Session["loginDetails"] != null)
    {
        ViewBag.isEnabled = true;
        ViewBag.ApplicationUserAccount = Session["loginDetails"];
    }

 }
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFC - Loans Management System</title>    
    
    @Styles.Render("~/Content/themeui/css")
    @Styles.Render("~/Content/DataTableCSS")
    
    
    @*<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">*@
    <style>
        body {
            font-family: 'Ubuntu', sans-serif !important;
        }
        input.form-control{
            border-bottom: 1px solid #CCC;
        }
        
    </style>

</head>
<body>
    <div id="wrapper">
        @if(ViewBag.isEnabled == true)
        {
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                          <div class="dropdown profile-ele  ment">                               
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <br/>
                                        <br/>
                                        <span>Logged in as:</span>
                                        <span class="block m-t-xs" style="font-weight: normal;">
                                            @Html.Label("position", (string)ViewBag.ApplicationUserAccount[0]["NAME"])
                                        </span>
                                        <span class="text-muted text-xs block">@Html.Label("position", (string)ViewBag.ApplicationUserAccount[0]["DESCRIPTION"]) <b class="caret"></b></span>
                                        
                                    </span>
                                    <hr />
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="#profile.html">Profile</a></li>
                                    <li><a href="#contacts.html">Pending</a></li>
                                    <li><a href="#mailbox.html">Notifications</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#login.html">Logout</a></li>
                                </ul>
                            </div>
                        <div class="logo-element">
                            RFC
                        </div>
                    </li>                    
                    @*<li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Application</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("BorrowerProfile", "Customer", "Customer")</li>       
                            <li>@Html.ActionLink("Loan Application", "", "Application", new { borrower = "96-921129" }, null)</li>                     
                            <li>@Html.ActionLink("Credit Investigation", "Customer", "Customer")</li>                                              
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Booking</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("Direct Loan Receipt", "DirectLoanReceipt", "Booking")</li>
                            <li>@Html.ActionLink("Check Voucher", "CheckVoucher", "Booking")</li>
                            <li>@Html.ActionLink("CIR Form", "CIRForm", "Booking")</li>
                            <li>@Html.ActionLink("Disbursement Voucher", "DisbursementVoucher", "Booking")</li>
                            <li>@Html.ActionLink("BankAssignment", "BankAssignment", "Booking")</li>
                            <li>@Html.ActionLink("Promissory Note Allocation", "PromissoryNoteAllocation", "Booking")</li>
                            <li>@Html.ActionLink("Change CCI", "ChangeCCI", "Booking")</li>                                      
                        </ul>
                    </li>
                    <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Collections</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Official Receipt</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>@Html.ActionLink("Sundry Collection", "NewSundry", "OfficialReceipt")</li>
                                        <li>@Html.ActionLink("OR Listing", "Contact", "Home")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("PDC Acknowledgement Receipt", "Contact", "Home")</li>
                                <li>@Html.ActionLink("PDC Batch Encoding", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Return Check Notice", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Deposit Slip", "Contact", "Home")</li>
                            </ul>
                        </li>
                    <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Accounting Module</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Request for Payment", "RequestforPayment", "Accounting")</li>
                            </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Maintenance</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="~/AgentProfile">Agent Profile</a></li>
                            <li><a href="~/Reference">Reference</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Development Tool</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="~/SecurityManager">Security Manager</a></li>
                            <li><a href="~/LibraryList">Library</a></li>                            
                              
                        </ul>
                    </li>*@                    
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
               
                    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-top-links navbar-left" style="padding-left: 15px;">
                            <li>                                
                              <h2><div style="cursor:pointer;" onclick="window.location.href='@Href("~/Home")'">RFC - Loans Management System</div></h2> 
                            </li>

                        </ul>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>

                        </ul>
                    </nav>
               
            </div>
            
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="pull-right">

                </div>
                <div>
                    
                </div>
            </div>
        </div>
        }else
        {
        <div class="wrapper wrapper-content">
            @RenderBody()
        </div>
        }
    </div>    
    
    <span id="userMenu" style="visibility:hidden;position:absolute;">@Href("~/Account/FetchUserMenus")</span>
    <span id="lnkBorrowerProfile" style="visibility:hidden;position:absolute;">@Href("~/Customer")</span>
    <span id="lnkLoanApplication" style="visibility:hidden;position:absolute;">@Href("~/Application")</span>
    <span id="lnkCreditInvestigation" style="visibility:hidden;position:absolute;">@Href("~/CreditInvestigation")</span>
    <span id="lnkDirectLoanReceipt" style="visibility:hidden;position:absolute;">@Href("~/Booking/DirectLoanReceipt")</span>
    <span id="lnkCheckVoucher" style="visibility:hidden;position:absolute;">@Href("~/Booking/CheckVoucher")</span>
    <span id="lnkCIRForm" style="visibility:hidden;position:absolute;">@Href("~/Booking/CIRForm")</span>
    <span id="lnkDisbursementVoucher" style="visibility:hidden;position:absolute;">@Href("~/Booking/DisbursementVoucher")</span>
    <span id="lnkPromissoryNoteAllocation" style="visibility:hidden;position:absolute;">@Href("~/Booking/PromissoryNoteAllocation")</span>
    <span id="lnkChangeCCI" style="visibility:hidden;position:absolute;">@Href("~/Booking/ChangeCCI")</span>
    <span id="lnkSundryCollection" style="visibility:hidden;position:absolute;">@Href("~/OfficialReceipt")</span>
    <span id="lnkORListing" style="visibility:hidden;position:absolute;">@Href("~/Home/Contact")</span>
    <span id="lnkPDCAcknowledgementReceipt" style="visibility:hidden;position:absolute;">@Href("~/Home/Contact")</span>
    <span id="lnkPDCBatchEncoding" style="visibility:hidden;position:absolute;">@Href("~/Home/Contact")</span>
    <span id="lnkReturnCheckNotice" style="visibility:hidden;position:absolute;">@Href("~/Home/Contact")</span>
    <span id="lnkDepositSlip" style="visibility:hidden;position:absolute;">@Href("~/Home/Contact")</span>
    <span id="lnkRequestforPayment" style="visibility:hidden;position:absolute;">@Href("~/Accounting/RequestforPayment")</span>
    <span id="lnkAgentProfile" style="visibility:hidden;position:absolute;">@Href("~/AgentProfile")</span>
    <span id="lnkReference" style="visibility:hidden;position:absolute;">@Href("~/Reference")</span>
    <span id="lnkSecurityManager" style="visibility:hidden;position:absolute;">@Href("~/SecurityManager")</span>
    <span id="lnkLibrary" style="visibility:hidden;position:absolute;">@Href("~/LibraryList")</span>
    <span id="lnkLogin" style="visibility:hidden;position:absolute;">@Href("~/Account/Login")</span>
    <span id="lnkRoles" style="visibility:hidden;position:absolute;">@Href("~/Library?ComponentName=Role|Role")</span>
    <span id="lnkUserRoleMenu" style="visibility:hidden;position:absolute;">@Href("~/UserRoleMenu")</span>

    @Scripts.Render("~/Content/themeui/js")    
    @Scripts.Render("~/Content/DataTableJS")    
    

    @RenderSection("scripts", required: false)
</body>
</html>
