@using LMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<center>

<div class="text-center loginscreen  animated fadeInDown" style="color: white; width: 350px; ">
    <div>
        <div>
            <h1 class="logo-name">LMS</h1>
        </div>
        <h3>LMS</h3>
        <p>
            Loans Management &amp; Processing System
        </p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-t", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "color: black;" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "color: black;" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Log in</button>
            <a href="#"><small>Forgot password?</small></a>
                        <p class="text-muted text-center"><small>Do not have an account?</small></p>


                        <p class="m-t"> <small>All Content is protected by Copyright &copy; 2014</small> </p>
        }
           
                    

                           
                        
                     
                    </div>
                </div>

</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}