@using LMS.Models
@model LMS.Models.Customer.CustomerEmploymentModel


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addEmployment" }))
{    
    <div style="background-color:white;">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title"  style="background-color:#1ab394;color:white;">
                    <h5>Spouse Employment</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Type</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.custEmployment.BusinessTypeID, new SelectList(Model.BusinessType, "BusinessTypeID", "Description"), new { @id = "BusinessTypeID", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Employer / Business</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custEmployment.EmployerName, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custEmployment.EmployerName, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Nature</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.custEmployment.NatureOfBusinessID, new SelectList(Model.NatureofBusiness, "NatureOfBusinessID", "Description"), new { @id = "NatureOfBusinessID", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Monthly Income</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custEmployment.Income, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custEmployment.Income, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Contact Number</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custEmployment.Contact_No, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custEmployment.Contact_No, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Active From</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custEmployment.FromDate, new { @class = "form-control applyDatePicker" })                                
                                <br />@Html.ValidationMessageFor(model => model.custEmployment.FromDate, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Active Upto</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custEmployment.ToDate, new { @class = "form-control applyDatePicker" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
