@using LMS.Models
@model LMS.Models.Customer.CustomerDependentsModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addDependents" }))
{
    <div style="background-color:white;">
        <div class="row">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title"  style="background-color:#1ab394;color:white;">
                    <h5>Dependents</h5>
                </div>*@
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First Name</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.FirstName, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.FirstName, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Middle Name</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.MiddleName, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.MiddleName, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last Name</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.LastName, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.LastName, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Gender</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.custDependents.GenderID, new SelectList(Model.Gender, "GenderID", "Description"), new { @class = "form-control genderAddBox" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Date of Birth</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.BirthDate, new { @class = "form-control applyDatePicker" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.BirthDate, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Relationship</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.custDependents.RelationshipTypeID, new SelectList(Model.RelationshipType, "RelationshipTypeID", "Description"), new { @class = "form-control relationshipTypeAddBox" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Street Address</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.StreetAddress, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.StreetAddress, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Province/City</label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(model => model.custDependents.ProvinceID, new SelectList(Model.Province, "ProvinceID", "Description"), new { @onChange = "UpdateCity('addBox')", @class = "form-control provinceAddBox" })
                            </div>
                            <div class="col-lg-5">
                                @Html.DropDownListFor(model => model.custDependents.CityID, new SelectList(Model.City, "CityID", "Description"), new { @class = "form-control cityAddBox" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">School Address</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.SchoolAddress, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.SchoolAddress, "", new { @class = "validation" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Contact No</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(model => model.custDependents.ContactNo, new { @class = "form-control" })
                                <br />@Html.ValidationMessageFor(model => model.custDependents.ContactNo, "", new { @class = "validation" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

