@using LMS.Models.MaintenanceAgentProfile
@model  LMS.Models.MaintenanceAgentProfile.AgentModel

@{
    ViewBag.Title = "Add_AgentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addForm" }))
{
    @Html.AntiForgeryToken()
    
    <div style="background-color:white;">
        <div class="row">
            <div class="col-md-12" style="padding-bottom:10px;padding-top:10px;padding-left:30px;padding-right:30px;">
                <div class="btn btn-info" onclick="addAgentProfileData()" title="Update Agent Data" id="btnUpdate"><b>Add Agent Profile</b></div>
                @Html.TextBoxFor(model => model.AgentProfile.ID, new { @id = "AgentProfileID", @disabled = "disabled", @style = "visibility:hidden;position:absolute;", @class = "form-control", @value = @Model.AgentProfile.ID })
                @Html.TextBoxFor(model => model.AgentAddress[0].ID, new { @disabled = "disabled", @style = "visibility:hidden;position:absolute;", @class = "form-control", @value = @Model.AgentAddress[0].ID })
                @Html.TextBoxFor(model => model.AgentAddress[0].AgentProfileID, new { @disabled = "disabled", @style = "visibility:hidden;position:absolute;", @class = "form-control", @value = @Model.AgentAddress[0].AgentProfileID })
                @Html.TextBoxFor(model => model.AgentAddress[0].AddressTypeID, new { @disabled = "disabled", @style = "visibility:hidden;position:absolute;", @class = "form-control", @value = @Model.AgentAddress[0].AddressTypeID })
                <a class="btn btn-danger pull-right" href="~/AgentProfile">Back to Agent Profile</a>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color:#1ab394;color:white;">
                        <h5>Personal Information</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Agent Code</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentProfile.AGENTCode, new { @disabled = "disabled", @class = "form-control" })                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First Name</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentProfile.FirstName, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentProfile.FirstName, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Middle Name</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentProfile.MiddleName, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentProfile.MiddleName, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentProfile.LastName, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentProfile.LastName, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date of Birth</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.AgentProfile.DateofBirth, new { @class = "form-control applyDatePicker" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentProfile.DateofBirth, "", new { @class = "validation" })
                                </div>
                                <div class="col-lg-4">
                                    <span class="form-control">Years Old</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Gender</label>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(model => model.AgentProfile.GenderID, new SelectList(Model.Gender, "GenderID", "Description"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Civil Status</label>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(model => model.AgentProfile.CivilStatusID, new SelectList(Model.CivilStatus, "CivilStatusID", "Description"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color:#1ab394;color:white;">
                        <h5>Other Information</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">District / Branch</label>
                                <div class="col-lg-5">
                                    @Html.DropDownListFor(model => model.AgentProfile.DistrictID, new SelectList(Model.District, "DistrictID", "Description"), new { @class = "form-control" })
                                </div>
                                <div class="col-lg-4">
                                    @Html.DropDownListFor(model => model.AgentProfile.OrganizationID, new SelectList(Model.Organization, "OrganizationID", "Description"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Agent Type</label>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(model => model.AgentProfile.AgentTypeID, new SelectList(Model.AgentType, "AgentTypeID", "Description"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">With Cash Card</label>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(model => model.AgentProfile.WithCashCard, new SelectList(Model.WithCashCard, "WithCashCard", "text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="background-color:#1ab394;color:white;">
                        <h5>Contacts And Addresses</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Province/City</label>
                                <div class="col-lg-5">
                                    @Html.DropDownListFor(model => model.AgentAddress[0].ProvinceID, new SelectList(Model.Province, "ProvinceID", "Description"), new { @onChange = "UpdateCity('Main')", @class = "form-control provinceMainBox" })
                                </div>
                                <div class="col-lg-4">
                                    @Html.DropDownListFor(model => model.AgentAddress[0].CityID, new SelectList(Model.City, "CityID", "Description"), new { @class = "form-control cityMainBox" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Barangay</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].BarangayName, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentAddress[0].BarangayName, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Street Address</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].StreetAddress, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentAddress[0].StreetAddress, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Postal Code</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].PostalCode, new { @class = "form-control" })                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Landline / Mobile No.</label>
                                <div class="col-lg-5">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].PhoneNumber, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentAddress[0].PhoneNumber, "", new { @class = "validation" })
                                </div>
                                <div class="col-lg-4">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].MobileNumber, new { @class = "form-control" })
                                    <br />@Html.ValidationMessageFor(model => model.AgentAddress[0].MobileNumber, "", new { @class = "validation" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date of Residence</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(model => model.AgentAddress[0].ResidentDate, new { @class = "form-control applyDatePicker" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Home Ownership</label>
                                <div class="col-lg-9">
                                    @Html.DropDownListFor(model => model.AgentAddress[0].HomeOwnershipID, new SelectList(Model.HomeOwnership, "HomeOwnershipID", "Description"), new { @class = "form-control" })
                                </div>
                            </div>
                            <table id="tblAddress" class="table table-bordered" width="100%" cellspacing="0" style="font-size:smaller;">
                                <thead>
                                    <tr>
                                        <th><div class="text-center"><div class="btn btn-info btn-xs" title='Add' onclick="addData('address')"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></div></div></th>
                                        <th>Address Type</th>
                                        <th>Barangay</th>
                                        <th>Street Address</th>
                                        <th>Postal Code</th>
                                        <th>City</th>
                                        <th>Province</th>
                                        <th>Contact No/s</th>
                                        <th>Residence Date</th>
                                        <th>Ownership</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="UpdateTableData" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="background-color:#ffffff;">
        <div class="modal-body" style="background-color:white;">
            <div id="update-display-modal-body">
            </div>
        </div>
        <div class="modal-footer" style="background-color:white;">
            <div id="update-display-modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="AddTableData" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="background-color:#ffffff;">
        <div class="modal-body" style="background-color:white">
            <div id="add-display-modal-body">
            </div>
        </div>
        <div class="modal-footer" style="background-color:white">
            <div id="add-display-modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Helper.LoadCustomJS("ViewsJS/MaintenanceAgentProfile/JS_AgentProfileAdd.js", Url)
}