
@{
    ViewBag.Title = "LoanApplication";
}
@model LMS.Models.LoanApplication.LoanApplicationModel
@{
    ViewBag.Title = "OfficialReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @Helper.LoadCustomJS("ViewsJS/Application/JS_ApplicationCtrl.js", Url)
}

<div class="panel panel-info">
    <div class="panel panel-heading">
        <h2>Loan Application</h2>
    </div>
    <div class="panel panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Borrower Profile</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                 <div class="form-group">
                                    <label class="col-lg-2 control-label">Borrower Code:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.CODE" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Full Name:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.Fullname" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Landline:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.LandLine" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Mobile No.:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.MobileNumber" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Province/ City:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.ProvinceCity" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Barangay:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.Barangay" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Street Address:</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control" value="@Model.borrowerProfile.STREET_ADDRESS" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Postal Code:</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control"  value="@Model.borrowerProfile.POSTAL_CODE"  readonly="readonly"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                    <div class="col-md-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>General Information</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Account No.:</label>
                                        <div class="col-lg-10"><input type="text" placeholder="" class="form-control" id="AccountNo" readonly="readonly"></div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Transaction Date Date.:</label>

                                        <div class="col-lg-10"><input type="date" placeholder="" class="form-control"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>

               

            </div>

                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Loan Information</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <p>Please fill-in all required fields.</p>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Purpose of Loan:</label>

                                    <div class="col-lg-10">
                                       <textarea cols="50" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">District/Branch:</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var district in Model.districts)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@district.DistrictID">
                                                    @district.Description
                                                </option>
                                            }
                                           
                                            
                                        </select>
                                    </div>
                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var org in Model.orgs)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@org.OrganizationID">
                                                    @org.Description
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Application Type:</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var appType in Model.applicationTypes)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@appType.ApplicationTypeID">
                                                    @appType.Description
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Agent:</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            <option>Branch One</option>
                                            <option>Branch One</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Product:</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var product in Model.products)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@product.ID">
                                                    @product.DESCRIPTION
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Set:</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var set in Model.sets)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@set.ID">
                                                    @set.DESCRIPTION
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>

        
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Terms</label>

                                    <div class="col-lg-5">
                                        <select class="form-control">
                                            @foreach (var term in Model.terms)
                                            {
                                                // cut for brevity, need to add back more code from original
                                                <option value="@term.ID">
                                                    @term.DESCRIPTION
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Factor Rate:</label>

                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Desired MLV:</label>

                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control"></div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Co-Maker/s</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal" id="co-makers-list">
                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>List of Collaterals</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal" id="collateral-list">
                               
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Credit Investigation Info</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Recommended MLV:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Original MLV:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Approved MLV:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Factor Rate:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Recommended Rate/Nominal:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Default Handling Fee:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="Not yet available" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Default PPD Amount:</label>
                                    <div class="col-lg-10"><input type="text" placeholder="" class="form-control" value="Not yet available" readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Agent Incentive:</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Dealer Incentive:</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Credit Investigator</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Assured</label>
                                    <div class="col-lg-5"><input type="text" placeholder="" class="form-control" value=" " readonly="readonly"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Required Documents</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Credit Investigation Info</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Notes:</label>
                                    <div class="col-lg-10"><textarea cols="50" rows="10"></textarea></div>

                                </div>
                             </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Attached Documents</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">

                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="row">
                <div class="pull-right">
                    <div class="btn btn-success">
                        Submit
                    </div>
                    <div class="btn btn-danger">
                        Cancel
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>