@model LMS.Models.DevelopmentTools.LibraryComponentModel
@{

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    <label>Search Code/Description&nbsp;</label>
                    <input type="text" id="filter_searchkey" placeholder="Leave blank to view all" class="form-control" />
                </div>
                <button type="button" class="btn btn-default" id="cmdFilter">Filter Search</button>
                <a class="btn btn-info" onclick="AddComponent()()">Add @Model.DisplayName</a>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="panel-title">@Model.DisplayName</h3>
                        </div>
                        <div class="col-md-1 panel-title">
                            <h3 class="panel-title"><input id="txtComponentName" value="@Model.ComponentName" style="visibility:hidden;position:absolute;" /></h3>
                        </div>                                                
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tbl-component" class="table table-striped table-bordered">
                                    <thead>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, null))
    {
        @*<div id="dlgAdd"></div>*@
        <div id="dlgAdd" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:450px;background-color:#ffffff;">
                <div class="modal-header">
                    <h3 class="modal-title">@Model.DisplayName</h3>
                </div>
                <div class="modal-body" style="background-color:white">
                    <div id="dlgadd-modal-body">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" id="dlgadd-add-btn">Add @Model.DisplayName</button>
                    <button class="btn btn-danger btn-sm" id="dlgadd-close-btn">Close</button>
                </div>
            </div>
        </div>

        <div id="dlgEdit" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:450px;background-color:#ffffff;">
                <div class="modal-header">
                    <h3 class="modal-title">@Model.DisplayName</h3>
                </div>
                <div class="modal-body" style="background-color:white">
                    <div id="dlgedit-modal-body">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" id="dlgEdit-update-btn">Update @Model.DisplayName</button>
                    <button class="btn btn-danger btn-sm" id="dlgEdit-close-btn">Close</button>
                </div>
            </div>
        </div>
        <div id="dlgDelete" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:450px;background-color:#ffffff;">
                <div class="modal-header">
                    <h3 class="modal-title">@Model.DisplayName</h3>
                </div>
                <div class="modal-body" style="background-color:white">
                    <div id="dlgdelete-modal-body">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" id="dlgDelete-delete-btn">Delete @Model.DisplayName</button>
                    <button class="btn btn-info btn-sm" id="dlgDelete-close-btn">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    @Styles.Render("~/Content/DataTableCSS")
    @Scripts.Render("~/Content/DataTableJS")
    @Helper.LoadCustomJS("ViewsJS/Library/JS_LibraryComponent.js", Url)
}
